<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-transparent dropdown-toggle text-dark"
          aria-controls="dropdown-basic">
    {{currentLanguage.minTitle}} <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem" *ngFor="let language of languagesConfig">
      <button class="dropdown-item" (click)="selectLanguage(language.code)">{{language.title}}</button>
    </li>
    <!--<li class="divider dropdown-divider"></li>-->
  </ul>
</div>
