table th.half {
  width: 50%;
}

table.table-borderless td, table.table-borderless th {
  border: none;
}

table.table-middle td, table.table-middle th {
  vertical-align: middle;
}

section {
  &.bottom-separator {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 1rem;
  }

  &.idented {
    margin: 1rem;
  }

  small.section-title {
    color: #808080;
    display: block;
    margin-bottom: 1rem;
  }
}
