<div class="authentication-page">
  <div class="authentication-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card p-4 user-form-box">

          <div class="card-body">
            <div class="pull-left" translate>
              <h2 translate>profile.title</h2>
            </div>
          </div>

          <div class="card-body">
            <form *ngIf="user != null">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="label" translate>profile.field.email</label>
                    <input type="text" class="form-control" #inputEmail="ngModel" appValidateEmail
                           [(ngModel)]="user.email" name="email" required disabled>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="label-required" translate>profile.field.name</label>
                    <input type="text" class="form-control" #inputName="ngModel"
                           [(ngModel)]="user.name" name="name" required>
                    <app-input-errors [input]="inputName" [validate]="nextButtonClicked"></app-input-errors>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-9 col-form-label" translate>profile.field.change_password</label>
                <div class="col-md-3 col-form-label">
                  <div class="form-check">
                    <label class="switch switch-pill switch-primary">
                      <input class="form-check-input switch-input" type="checkbox" name="changePassword" id="changePassword" [(ngModel)]="changePassword" />
                      <span class="switch-slider"></span>
                    </label>
                  </div>
                </div>
              </div><!--/.form-group.row-->

              <div class="row" *ngIf="changePassword">
                <div class="col-12">
                  <div class="form-group">
                    <label class="label" translate>profile.field.password</label>
                    <input type="password" class="form-control" #inputName="ngModel"
                           [(ngModel)]="user.password" name="password" required>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="changePassword">
                <div class="col-12">
                  <div class="form-group">
                    <label class="label" translate>profile.field.password_confirm</label>
                    <input type="password" class="form-control"
                           [(ngModel)]="user.passwordConfirm" name="password-confirm" [class.is-invalid]="user.password != user.passwordConfirm" required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary float-left" (click)="goBack()" translate>profile.goback</button>
                  <button class="btn btn-primary float-right" (click)="save()" translate>profile.save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
