/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  font-weight: bold;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-footer-inner {
  background-color: #FFF;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: rgba(158, 158, 158, 0.2);
  font-weight: bold;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li, .ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
  color: rgba(0, 0, 0, 0.7);
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.ngx-datatable.bootstrap .datatable-footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 0.75rem;
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
}

.ui-select-container > div.ui-select-match > span.ui-select-toggle.form-control {
  position: relative;
  background-color: #FFF;
}

.select-sm > .ui-select-container > div.ui-select-match > span.ui-select-toggle.form-control {
  position: relative;
  background-color: #FFF;
}

.invalid-select-sm > .ui-select-container > div.ui-select-match > span.ui-select-toggle.form-control {
  position: relative;
  background-color: #FFF;
  border-color: #F86C6B;
}

.ui-select-choices.dropdown-menu {
  display: block;
}

.label-required:after {
  content: ' *';
  color: #F44336 !important;
}

.authentication-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url("~src/assets/img/login-background.png") !important;
  background-repeat: no-repeat;
}

.authentication-container {
  position: relative;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

app-step {
  width: 100%;
}

.input-error-feedback {
  padding-top: 3px;
  font-size: 12px;
  color: #DC3545;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #00ced1;
  color: #fff;
}

.mat-step-icon {
  border-radius: 50% !important;
  height: 35px !important;
  width: 35px !important;
  flex-shrink: 0;
  position: relative;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
