vrrp_script postgres {
        script "/bin/pidof postgres"
        interval 2
    }

vrrp_instance floating_ip {
    
    {% if groups["db-primary"][0] == inventory_hostname %}
    state MASTER
    unicast_src_ip {{ hostvars[groups["db-primary"][0]].ansible_default_ipv4.address }}
    unicast_peer {
        {{ hostvars[groups["db-standby"][0]].ansible_default_ipv4.address }}
    }
    {% else %}
    state BACKUP
    unicast_src_ip {{ hostvars[groups["db-standby"][0]].ansible_default_ipv4.address }}
    unicast_peer {
        {{ hostvars[groups["db-primary"][0]].ansible_default_ipv4.address }}
    }
    {% endif %}

    interface ens4
    track_script {
        postgres
    }
    virtual_router_id 50
    priority 50
    authentication {
        auth_type PASS
        auth_pass password
    }
    notify_master /etc/keepalived/takeover.sh
}