<app-header
  [navbarBrandRouterLink]="['/storage-system']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo_storage_system.png', width: 'auto', height: 35, alt: 'StorageSystem Logo', routerLink: '/'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'StorageSystem Logo', routerLink: '/'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileSidebarToggler]="true"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="'/'" translate>general.home</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="'storage'" translate>general.storages</a>
    </li>
  </ul>
  <div class="d-down-none-inverse">
    <app-language-selector></app-language-selector>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-down-none">
      <app-language-selector></app-language-selector>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right" >
      <div class="avatar-margin">
        <button class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle><i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{totalinvites}}</span></button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"role="menu" aria-labelledby="button-basic">
          <li class="dropdown-header text-center"><strong>Convites</strong>&nbsp;<span class="badge badge-info">{{totalinvites}}</span></li>
          <li role="menuitem" class="dropdown-item" *ngFor="let invite of invitation">
            <i style="text-align:left" class="fa fa-envelope-o"></i><div style="text-align:center" translate>{{'notification.invitationmessage1'}}  <b>{{invite.storage.name}}</b><br /><a translate>{{'notification.invitationmessage2'}}</a>
           <b>{{invite.author.email}}</b> </div>
            <div style="text-align:center">
              <button class="btn btn-sm btn-pill btn-success" type="button" (click)="AcceptInvitation(invite.storageId,0)" translate>{{'form.button.accept'}}</button>&nbsp;
              <button class="btn btn-sm btn-pill btn-danger" type="button" (click)="AcceptInvitation(invite.storageId,1)" translate>{{'form.button.reject'}}</button>
            </div>
          </li>
          <li class="dropdown-header text-center"><strong>Produtos</strong></li>
          <li role="menuitem" class="dropdown-item" ><i class="fa fa-user"></i> Profile</li>
        </ul>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <div class="avatar-margin">
        <button class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <ngx-avatar [name]="userNameInitials" [size]="35" [textSizeRatio]="2.1"></ngx-avatar>
        </button>
        <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button class="dropdown-item" translate>avatar.edit_profile</button></li>
          <li class="divider dropdown-divider m-0"></li>
          <li role="menuitem"><button class="dropdown-item" (click)="signOut()" translate>avatar.sign_out</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</app-header>
