<tabset>
  <tab heading="{{'general.close_to_expire' | translate:lang}}">
    <app-custom-datatable [allRows]="rowsForTableWithProductsNearExpiringDate" [columns]="columns" [sortDefaultColumn]="'product'"tabset
                          (clickActionButton)="callbackEventOnClickActionButton($event)"></app-custom-datatable>
  </tab>
  <tab heading="{{'general.expired' | translate:lang}}">
    <app-custom-datatable [allRows]="rowsForTableWithProductsAfterExpiringDate" [columns]="columns" [sortDefaultColumn]="'product'"tabset
                          (clickActionButton)="callbackEventOnClickActionButton($event)"></app-custom-datatable>
  </tab>
</tabset>
