<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="infoCardBlue">
    <app-info-card [infoCard]="infoCardBlue">
      <img src="assets/img/icons/products_icon.png" width="45" height="45" alt="Icon" />
    </app-info-card>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="infoCardGreen">
    <app-info-card [infoCard]="infoCardGreen">
      <img src="assets/img/icons/products_consumed_icon.png" width="45" height="45" alt="Icon" />
    </app-info-card>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="infoCardYellow">
    <app-info-card [infoCard]="infoCardYellow">
      <img src="assets/img/icons/products_near_ending.png" width="45" height="45" alt="Icon" />
    </app-info-card>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="infoCardRed">
    <app-info-card [infoCard]="infoCardRed">
      <img src="assets/img/icons/products_near_expirement.png" width="40" height="40" alt="Icon" />
    </app-info-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <app-panel [title]="'general.shopping_list_suggestion'">
      <div panel-right-header>
        <button class="btn p-0" mat-raised-button matTooltip="{{'tooltip.home.buttondetailsShoppingList' | translate:lang}}">
          <i class="fas fa-cog"></i>
        </button>&nbsp;
        <button class="btn p-0" (click)="openPDF()" mat-raised-button matTooltip="{{'tooltip.home.downloadpdf' | translate:lang}}" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="fa fa-file-pdf-o" style="font-size:24px; color:red"></i>
        </button>&nbsp;
        <button class="btn p-0" (click)="openTask()" mat-raised-button matTooltip="{{'tooltip.home.buttonGoogleTask' | translate:lang}}" aria-label="Button that displays a tooltip when focused or hovered over">
          <img src="../../assets/img/icons/googletask.png" width="25" height="25" alt="Icon" />
        </button>&nbsp;
        <div class="btn p-0">
          <mat-spinner *ngIf="ShowSpinner" class="example-margin" color="accent" mode="indeterminate" diameter="25" strokeWidth="5"></mat-spinner>
        </div>
      </div>
      <div panel-body>
        <app-shopping-list></app-shopping-list>
      </div>
    </app-panel>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <app-panel [title]="'general.expiration_date'">
      <div panel-right-header>
        <button class="btn p-0" mat-raised-button matTooltip="{{'tooltip.home.buttondetailsExpiredDate' | translate:lang}}">
          <i class="fas fa-cog"></i>
        </button>
      </div>
      <div panel-body>
        <app-expire-date-table></app-expire-date-table>
      </div>
    </app-panel>

  </div>

</div>

<!--<app-graph></app-graph>-->
<app-pie-chart></app-pie-chart>
