<div class="row">
  <div class="col-sm-6 col-lg-3">
    <app-info-card [infoCard]="infoCardBlue">
      <img src="assets/img/icons/products_icon.png" width="40" height="40" alt="Icon"/>
    </app-info-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <app-info-card [infoCard]="infoCardRed">
      <img src="assets/img/icons/products_near_expirement.png" width="40" height="40" alt="Icon"/>
    </app-info-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <app-info-card [infoCard]="infoCardYellow">
      <img src="assets/img/icons/products_near_ending.png" width="40" height="40" alt="Icon"/>
    </app-info-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <app-info-card [infoCard]="infoCardGreen">
      <img src="assets/img/icons/products_consumed_icon.png" width="40" height="40" alt="Icon"/>
    </app-info-card>
  </div>
</div>



<!--<div class="row">-->
  <!--<div class="col-sm-6 col-lg-3">-->
    <!--<div class="card text-white bg-primary">-->
      <!--<div class="card-body pb-0">-->

        <!--<div class="btn-group float-right" dropdown>-->
          <!--<button class="btn btn-transparent dropdown-toggle p-0"-->
                  <!--dropdownToggle type="button" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-basic">-->
            <!--<i class="icon-settings"></i>-->
          <!--</button>-->
          <!--<div class="dropdown-menu dropdown-menu-right" *dropdownMenu style="left: auto; right: 0;">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="text-value">9.823</div>-->
        <!--<div>Members online</div>-->
      <!--</div>-->
      <!--<div style="display: block; padding: 20px">-->
        <!--<canvas baseChart width="auto" height="100px"-->
                <!--[datasets]="lineChartData"-->
                <!--[labels]="lineChartLabels"-->
                <!--[options]="lineChartOptions"-->
                <!--[colors]="lineChartColors"-->
                <!--[legend]="lineChartLegend"-->
                <!--[chartType]="lineChartType"-->
                <!--[plugins]="lineChartPlugins">-->
        <!--</canvas>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
