.text-dark-danger {
  color: #f8181b !important;
}

a.text-dark-danger:hover, a.text-dark-danger:focus {
  color: #f51e2b !important;
}

.text-dark-primary {
  color: #2d88d8 !important;
}

a.text-dark-primary:hover, a.text-dark-primary:focus {
  color: #38aabf !important;
}
