<div class="authentication-page">
  <div class="authentication-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card p-4 user-form-box">

          <div class="card-body">
            <div class="pull-left" translate>
              <h2 translate>form.account_sign_up</h2>
            </div>
            <div class="pull-right">
              <app-language-selector></app-language-selector>
            </div>
          </div>

          <div class="card-body">
            <app-stepper (clickNextStepButton)="callBackOnClickNextStepButton($event)"
                         (clickSubmitButton)="callbackOnClickSubmitButton($event)"
                         [titleLastStepButton]="'form.back_to_login_page'" [routerLinkLastStepButton]="'/login'">

              <app-step [iconClass]="'fas fa-user'">
                <form #formFirstStep="ngForm">

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="label-required" translate>form.name</label>
                        <input type="text" class="form-control" #inputName="ngModel"
                               [(ngModel)]="user.name" name="name" required>
                        <app-input-errors [input]="inputName" [validate]="nextButtonClicked"></app-input-errors>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="label-required" translate>form.email</label>
                        <input type="text"  class="form-control" #inputEmail="ngModel" appValidateEmail
                               [(ngModel)]="user.email" name="email" required>
                        <app-input-errors [input]="inputEmail" [validate]="nextButtonClicked"></app-input-errors>
                      </div>
                    </div>
                  </div>

                </form>
              </app-step>

              <app-step [iconClass]="'fas fa-user'">
                <form #formSecondStep="ngForm">

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="label-required" translate>form.password</label>
                        <input type="password"  class="form-control" #inputPassword="ngModel"
                               [(ngModel)]="user.password" name="password" required>
                        <app-input-errors [input]="inputPassword" [validate]="nextButtonClicked"></app-input-errors>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="label-required" translate>form.confirm_password</label>
                        <input type="password" class="form-control" #inputConfirmPassword="ngModel"
                               [appValidateConfirmPassword]="inputPassword"
                               [(ngModel)]="user.confirmPassword" name="confirmPassword" required>
                        <app-input-errors [input]="inputConfirmPassword" [validate]="nextButtonClicked"></app-input-errors>
                      </div>
                    </div>
                  </div>

                </form>
              </app-step>
              <app-step [iconClass]="'fas fa-check'">
                <span style="color: #0a8007;">Registo realizado com sucesso! Confirme o email para ativar a conta.</span>
              </app-step>

            </app-stepper>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
