<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br />
<br />
<br />
<form [formGroup]="formGroup">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="firstStepValid()" errorMessage="Name is required.">

      <ng-template matStepLabel ><div style="color:grey" translate>{{'addstorage.title'}}</div></ng-template>
      <br />
      <br />

      <div style="text-align:center">
        <h5 style="color:darkblue"><b translate>{{'addstorage.purposeof'}}</b></h5>
        <div>
          <mat-radio-group class="example-radio-group" [(ngModel)]="goalstorage" #radioGroup="matRadioGroup" name="typeCtrl" formControlName="typeCtrl" required>
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br />
      <div style="text-align:center">
        <div>
          <mat-form-field>
            <input matInput placeholder="{{translationService.translate('addstorage.name')}}" [(ngModel)]="namestorage" formControlName="nameCtrl" required>
          </mat-form-field>
        </div>

        <div>
          <ng-template #cityItemTemplate let-model="item">
            {{model.name}}, {{model.country}}
          </ng-template>
          <mat-form-field>
            <input [(ngModel)]="citynamestorage"
                   formControlName="cityCtrl"
                   matInput
                   placeholder="{{translationService.translate('addstorage.location')}}"
                   [typeaheadAsync]="true"
                   [typeahead]="citiesSource"
                   [typeaheadScrollable]="true"
                   typeaheadOptionField="name"
                   (typeaheadOnSelect)="citystorage = $event.item"
                   (typeaheadNoResults)="citystorage = null"
                   [typeaheadItemTemplate]="cityItemTemplate"
                   [typeaheadOptionsInScrollableView]="5">
          </mat-form-field>
        </div>
      </div>
      <div style="text-align:right">
        <button mat-raised-button color="accent" matStepperNext (click)="addStorage( 1 )"><div translate>{{'form.button.next'}}</div></button>
      </div>
    </mat-step>

    <ng-container *ngIf="show == goalstorage">
      <mat-step [completed]="allEmailsValid()" errorMessage="{{translationService.translate('addstorage.erroremail')}}">
        <!--<form [formGroup]="secondFormGroup">-->
        <br />
        <h5 style="color:darkblue"><b style="margin-left:100px" translate>{{'addstorage.optionshared'}}</b></h5>
        <br />
        <h6 style="margin-left:160px"><b translate>{{'addstorage.addshare'}}</b></h6>
        <ng-template matStepLabel><div style="color:grey" translate>{{'addstorage.addpeople'}}</div></ng-template>
        <div>
          <div formArrayName="emails">
            <div style="text-align:center">
              <div *ngFor="let item of em.controls; let pointIndex=index">
                <mat-form-field>
                  <input matInput [formControl]="item" placeholder="Email" required>
                </mat-form-field>
                <span *ngIf="true">
                  <span>
                    <button mat-mini-fab (click)="deleteEmail(pointIndex)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </span>
                </span>
              </div>

              <button mat-mini-fab (click)="addEmail()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align:right">
          <button mat-raised-button color="basic" matStepperPrevious><div translate>{{'form.button.previous'}}</div></button>
          <button mat-raised-button color="accent" matStepperNext (click)="addStorage( 2 )"><div translate>{{'form.button.next'}}</div></button>
        </div>
        <!--</form>-->
      </mat-step>
    </ng-container>
    <mat-step>
      <ng-template matStepLabel><div style="color:grey">Done</div></ng-template>
      <div style="text-align:center"><h3 style="color:grey" *ngIf="savedStorage == null"><div translate>{{'addstorage.request'}}</div></h3></div>
      <div style="text-align:center"><h3 style="color:green" *ngIf="savedStorage != null"><div translate>{{'addstorage.sucess'}}</div></h3></div>
      <div style="text-align:center" *ngIf="savedStorage != null">
        <!--<button mat-button matStepperPrevious>Voltar</button>-->
        <button mat-button (click)="openStoragePage()"><div translate>{{'addstorage.openstorage'}}</div></button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
