<div class="row" style="margin-bottom: 24px">
  <div class="col-6">
    <button class="btn bg-success" [routerLink]="['..',  'add-storage']">
      Adicionar Despensa
    </button>
  </div>
</div>
<div class="row" style="margin-bottom: 24px">
  <div class="col-6">
    <button class="btn bg-success" (click)="openDetailsProductTest()">
      DEBUG: Detalhes de Produto
    </button>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let storage of storages; let index = index">
    <div class="col-sm-12 col-md-6 col-lg-6">

      <app-panel [title]="storage.name">
        <div panel-right-header>
          <div class="dropdown" dropdown>
            <button dropdownToggle class="btn p-0">
              <i class="fas fa-cog"></i>
            </button>
            <div *dropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="javascript:;" (click)="openAddProduct(storage)">Inserir Produto</a>
              <a class="dropdown-item" href="javascript:;">Editar Despensa</a>
              <a class="dropdown-item" href="javascript:;">Remover Despensa</a>
            </div>
          </div>
        </div>
        <ng-container *ngIf="storage.isShared" panel-body>
          <tabset>
            <tab *ngFor="let person of getSharedStoragePeople(storage)"
                 [heading]="person">
              <app-storage-datatable [products]="groupSharedStorageProductsByUsers(storage)[person]"></app-storage-datatable>
            </tab>
          </tabset>
        </ng-container>
        <ng-container *ngIf="!storage.isShared" panel-body>
          <app-storage-datatable [products]="storage.products"></app-storage-datatable>
        </ng-container>
      </app-panel>
    </div>
  </ng-container>
</div>

